# Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Import Data

In [2]:
data_path_resort = './data/Resort_Data.xlsx'
data_path_city = './data/City_Data.xlsx'

In [3]:
data_resort = pd.read_excel(data_path_resort)
data_resort['HotelType'] = 'Resort'
data_resort.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,HotelType
0,0,342,2015,July,27,1,0,0,2,0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,Resort
1,0,737,2015,July,27,1,0,0,2,0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,Resort
2,0,7,2015,July,27,1,0,1,1,0,...,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,Resort
3,0,13,2015,July,27,1,0,1,1,0,...,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,Resort
4,0,14,2015,July,27,1,0,2,2,0,...,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03,Resort

In [4]:
data_city = pd.read_excel(data_path_city)
data_city['HotelType'] = 'City'
data_city.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,HotelType
0,0,6,2015,July,27,1,0,2,1,0.0,...,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03,City
1,1,88,2015,July,27,1,0,4,2,0.0,...,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01,City
2,1,65,2015,July,27,1,0,4,1,0.0,...,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30,City
3,1,92,2015,July,27,1,2,4,2,0.0,...,9,NULL,0,Transient,76.5,0,2,Canceled,2015-06-23,City
4,1,100,2015,July,27,2,0,2,2,0.0,...,9,NULL,0,Transient,76.5,0,1,Canceled,2015-04-02,City

In [5]:
data_full = pd.concat([data_resort, data_city])
data_full.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,HotelType
0,0,342,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,Resort
1,0,737,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,Resort
2,0,7,2015,July,27,1,0,1,1,0.0,...,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,Resort
3,0,13,2015,July,27,1,0,1,1,0.0,...,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,Resort
4,0,14,2015,July,27,1,0,2,2,0.0,...,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03,Resort

# Feature Exploration

## Numeric Data

In [30]:
data_full.describe(include = ['number', 'datetime'], datetime_is_numeric=True).T

,count,mean,min,25%,50%,75%,max,std
IsCanceled,119390.0,0.370416,0.0,0.0,0.0,1.0,1.0,0.482918
LeadTime,119390.0,104.011416,0.0,18.0,69.0,160.0,737.0,106.863097
ArrivalDateYear,119390.0,2016.156554,2015.0,2016.0,2016.0,2017.0,2017.0,0.707476
ArrivalDateWeekNumber,119390.0,27.165173,1.0,16.0,28.0,38.0,53.0,13.605138
ArrivalDateDayOfMonth,119390.0,15.798241,1.0,8.0,16.0,23.0,31.0,8.780829
StaysInWeekendNights,119390.0,0.927599,0.0,0.0,1.0,2.0,19.0,0.998613
StaysInWeekNights,119390.0,2.500302,0.0,1.0,2.0,3.0,50.0,1.908286
Adults,119390.0,1.856403,0.0,2.0,2.0,2.0,55.0,0.579261
Children,119386.0,0.10389,0.0,0.0,0.0,0.0,10.0,0.398561
Babies,119390.0,0.007949,0.0,0.0,0.0,0.0,10.0,0.097436
IsRepeatedGuest,119390.0,0.031912,0.0,0.0,0.0,0.0,1.0,0.175767
PreviousCancellations,119390.0,0.087118,0.0,0.0,0.0,0.0,26.0,0.844336
PreviousBookingsNotCanceled,119390.0,0.137097,0.0,0.0,0.0,0.0,72.0,1.497437
BookingChanges,119390.0,0.221124,0.0,0.0,0.0,0.0,21.0,0.652306
DaysInWaitingList,119390.0,2.321149,0.0,0.0,0.0,0.0,391.0,17.594721
ADR,119390.0,101.831122,-6.38,69.29,94.575,126.0,5400.0,50.53579
RequiredCarParkingSpaces,119390.0,0.062518,0.0,0.0,0.0,0.0,8.0,0.245291
TotalOfSpecialRequests,119390.0,0.571363,0.0,0.0,0.0,1.0,5.0,0.792798
ReservationStatusDate,119390,2016-07-30 00:24:47.883407104,2014-10-17 00:00:00,2016-02-01 00:00:00,2016-08-07 00:00:00,2017-02-08 00:00:00,2017-09-14 00:00:00,NaN

---

**Numeric Feature Review**

> Features to drop:
> * IsCanceled (target feature)
>
>
> Treat as ordinal features:
> * ArrivalDateYear
> * ArrivalDateWeekNumber
> * ArrivalDateDayOfMonth
>
>
> Expect outliers in most of the features
> * Determine how to handle later
>   * E.g., Huber regressor can handle them, but other linreg models can't
>
> Features unlikely to be known prior to arrival/guest stay:
> * None, could make argument for all to be known due to reservation booking or calculated from reservation details (e.g., number of changes)

---

## Non-Numeric (Strings, DateTime, or Categoricals)

In [29]:
data_full.describe(exclude = ['number', 'datetime'], datetime_is_numeric=True).T

                      count unique               top    freq
ArrivalDateMonth     119390     12            August   13877
Meal                 119390      5         BB          92310
Country              118902    177               PRT   48590
MarketSegment        119390      8         Online TA   56477
DistributionChannel  119390      5             TA/TO   97870
ReservedRoomType     119390     10  A                  85994
AssignedRoomType     119390     12  A                  74053
DepositType          119390      3   No Deposit       104641
Agent                119390    334                 9   31961
Company              119390    353              NULL  112593
CustomerType         119390      4         Transient   89613
ReservationStatus    119390      3         Check-Out   75166
HotelType            119390      2              City   79330

---

**Non-Numeric Feature Review**

> Convert to ordinal: ArrivalDateMonth, Meal
>
> Further review needed:
> * MarketSegment vs. DistributionChannel
> * ReservedRoomType == AssignedRoomType
> * Company value counts
> * ReservationStatus compared to IsCanceled (possibly too similar to target)
>
> Features unlikely to be known prior to arrival/guest stay:
> * Meal


---

In [7]:
## Check for constant features
data_full.nunique().sort_values(ascending=True)

IsCanceled                        2
IsRepeatedGuest                   2
HotelType                         2
ReservationStatus                 3
DepositType                       3
ArrivalDateYear                   3
CustomerType                      4
Children                          5
Babies                            5
Meal                              5
DistributionChannel               5
RequiredCarParkingSpaces          5
TotalOfSpecialRequests            6
MarketSegment                     8
ReservedRoomType                 10
ArrivalDateMonth                 12
AssignedRoomType                 12
Adults                           14
PreviousCancellations            15
StaysInWeekendNights             17
BookingChanges                   21
ArrivalDateDayOfMonth            31
StaysInWeekNights                35
ArrivalDateWeekNumber            53
PreviousBookingsNotCanceled      73
DaysInWaitingList               128
Country                         177
Agent                           334
Company                         353
LeadTime                        479
ReservationStatusDate           926
ADR                            8879
dtype: int64